node_modules/
.next/
next-env.d.ts
*.tsbuildinfo
/data/
/test-results/
/playwright-report/
/public/altcha/
.env
.env.*
!.env.example
.e2e/
.e2e-noc/
.e2e-proto/
.e2e-proto.log
.e2e-noc-proto/
.e2e-noc-proto.log
